:root {
  --container-width: 1200px;
  --container-padding: 20px;

  --text-color: #d0d6f9;
  --white-text: #fff;
  --white-color: #fff;
  --secondary-color: rgba(255, 255, 255, 0.25);
  --black-text: #0b0d17;

  --barlow-font: "Barlow Condensed";
  --barlow-regular: "Barlow";
  --bellefair-font: "Bellefair";
}

@mixin display(
  $flex-direction: column,
  $align-items: center,
  $justify-content: space-between
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}
